.accordion .card-header {
  color: white;
  background: linear-gradient(to right, lightblue, violet);
  border: 0;
  font-size: 1.5rem;
}
.forecastRow {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  padding: 1rem !important;
}
