.city-background {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.city-background::before {
  content: "";
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-main {
  overflow: hidden;
  height: 100vh;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
}
.city-search-box {
  max-width: 200px;
  background: transparent;
  border-bottom: 1px solid grey;
  margin-left: 2rem;
}

.city-search-box input {
  border: 0 !important;
}

.content {
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 16px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.weather-icon-big {
  font-size: 2rem;
  margin: 0 0.5rem;
}
